[submodule "user_service"]
	path = user_service
	url = https://github.com/IASSCMS/User-Services.git
[submodule "logistics_service"]
	path = logistics_service
	url = https://github.com/IASSCMS/Logistics.git
[submodule "warehouse_management_service"]
	path = warehouse_management_service
	url = https://github.com/IASSCMS/Warehouse-Management-Services.git
[submodule "forecasting_service"]
	path = forecasting_service
	url = https://github.com/IASSCMS/Forecasting-Service.git
